{
  "openapi": "3.0.4",
  "info": {
    "title": "API Overview",
    "description": "<p>This is where you can get started with automating your workflows and integrating your apps with our API.</p>\n<p>Use our official <a href='https://pypi.org/project/textverified/' target='_blank'>Python client</a> for faster integration.</p>\n<p>For rentals (<b>long term use</b> of numbers), you'll need to check out the following links in order: </p><ol>\n<li>Authenticate: <a href='docs/api/v2#auth' target='_top'>Authentication</a></li>\n<li>Obtain a list of rental services: <a href='docs/api/v2#get-/api/pub/v2/services' target='_top'>Service List</a></li>\n<li>Create a rental: <a href='docs/api/v2#post-/api/pub/v2/reservations/rental' target='_top'>Create New Rental</a></li>\n<li>Follow the location header returned to get the rental sale.</li>\n<li>From the sale, you'll be able to see the reservations and backorders.</li>\n</ol>\n<p>For verifications (<b>single use</b> of numbers), you'll need to check out the following links in order: </p><ol>\n<li>Authenticate: <a href='docs/api/v2#auth' target='_top'>Authentication</a></li>\n<li>Obtain a list of verification services: <a href='docs/api/v2#get-/api/pub/v2/services' target='_top'>Service List</a></li>\n<li>Create a verification: <a href='docs/api/v2#post-/api/pub/v2/verifications' target='_top'>Create Verification</a></li>\n<li>Follow the location header returned to get the newly created verification.</li>\n</ol>\n<p>Our API documentation has an embedded javascript client so that you can try out the API. You will need to <a href='docs/api/v2#auth' target='_top'>setup your bearer token</a> to be able to access secured endpoints.\n</p><br/>\n<h2>Paginated List Responses</h2>\n<p>When you successfully get a list of data (generally, ordered by when the resource was created), for example <a href='docs/api/v2#get-/api/pub/v2/billing-cycles' target='_top'>List Billing Cycles</a>, you will need to follow it's <code>links</code> results.\n<br/>Inside the <code>links</code> result, you will get <code>current</code>, <code>previous</code>, and <code>next</code> values. Inside these values, there will be <code>href</code> and <code>method</code> values.\n<br/>With these values, you can get more of your list by navigating through them. </p>\n<h3><b>Example</b></h3>\n<p>We get the result from <a href='docs/api/v2#get-/api/pub/v2/billing-cycles' target='_top'>List Billing Cycles</a>, but we don't see what we need and need more billing cycles.<br/>\n<span style='color:#dc2626;'><b>The following code is whiteboarding code, use the language you are using for your integration with the API</b></span><br/>\nWe will need to do the following:</p>\n<ul><li>Get our api result <code>data = getListBillingCyclesResult()</code></li>\n<li>Get the <code>href = data['links']['next']['href']</code></li>\n<li>Get the <code>method = data['links']['next']['method']</code></li>\n<li>Now you can get the next page: <code>nextPage = fetch(href, {method=method})</code></li>\n<li>If we need the next page's result, we can repeat this process.</li></ul>\n<p>Note that only renewable rentals will be associated with a billing cycle.</p>\n<object width=\"630\" style=\"margin-top:60px\" data=\"/api/pub/v2/docs/rental-api-v2-purchase-flow.svg\" type=\"image/svg+xml\"></object>\n<object width=\"630\" style=\"margin-top:60px\" data=\"/api/pub/v2/docs/verification-api-v2-purchase-flow.svg\" type=\"image/svg+xml\"></object>\n",
    "version": "v2",
    "x-logo": {
      "url": "../../tvlogo.svg",
      "altText": "Textverified",
      "href": "/app"
    }
  },
  "servers": [
    {
      "url": "https://www.textverified.com"
    }
  ],
  "paths": {
    "/api/pub/v2/auth": {
      "post": {
        "tags": [
          "Bearer Tokens"
        ],
        "summary": "Generate Bearer Token",
        "description": "Generate a bearer token to start making requests to <b>secured endpoints</b>. \nYou will need to supply the following <b>headers</b>:\n1) ```X-API-KEY``` (your primary API key)\n2) ```X-API-USERNAME``` (your username, which is the email you used to register)  \nAll <b>secured endpoints</b> will need your <b>bearer token</b> supplied to them.\n\nBecause bearer tokens can <b>expire</b> due to having a limited lifespan, you will need to obtain a new bearer token by generating a new one periodically.\n\nYou can view and manage your API keys on under <a href=\"https://www.textverified.com/app/api/configure\">API Settings</a>.\n\nAfter successfully generating a bearer token ```eyJh...```, you can use set the bearer token <a href=\"docs/api/v2#auth\" target=\"_top\">here</a> and explore our secured API endpoints.",
        "parameters": [
          {
            "name": "X-API-USERNAME",
            "in": "header",
            "description": "Your username.",
            "schema": {
              "type": "string"
            },
            "example": "example@example.com"
          },
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "Your API key.",
            "schema": {
              "type": "string"
            },
            "example": "APIKey12345"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BearerToken"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/pub/v2/account/me": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Account Details",
        "description": "Retrieves the details of the currently authenticated account. Returns the username and current balance (in account credits) of the user, or ``` 401 Unauthorized ``` if the user is not authenticated.",
        "operationId": "GetAccountExpandedPublic",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ]
      }
    },
    "/api/pub/v2/area-codes": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "Area Codes List",
        "description": "Returns a list of our supported area codes.\n\nThese supported area codes you get in the ```areaCode``` property from the response can be used for API calls where an ```areaCodeSelectOption``` is in the body or parameter.",
        "operationId": "ListAdvertisedAreaCodesPublic",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AreaCode"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/services": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "Service List",
        "description": "Returns a list of our supported services.\n\nThese supported services you get in the ```serviceName``` property from the response will be used for API calls where a ```serviceName``` is required in the body or parameter.",
        "operationId": "ListAdvertisedTargetsPublic",
        "parameters": [
          {
            "name": "numberType",
            "in": "query",
            "description": "",
            "schema": {
              "$ref": "#/components/schemas/NumberType"
            },
            "example": "mobile"
          },
          {
            "name": "reservationType",
            "in": "query",
            "description": "Required field",
            "schema": {
              "$ref": "#/components/schemas/ReservationType"
            },
            "example": "renewable"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Service"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/pricing/rentals": {
      "post": {
        "tags": [
          "Services"
        ],
        "summary": "Rental Pricing",
        "description": "Get rental prices for a specific service and option(s). The ```serviceName``` is required, and the list of supported service names can be found at <a href=\"docs/api/v2#get-/api/pub/v2/services\" target=\"_top\">Service List</a>.\n\nNot all service and options are compatible with each other. This endpoint point will return a ```400 Bad Request``` for unsupported service and option combinations.",
        "operationId": "PriceCheckRentalPublic",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RentalPriceCheckRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RentalPriceCheckRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RentalPriceCheckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricingSnapshot"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/pricing/verifications": {
      "post": {
        "tags": [
          "Services"
        ],
        "summary": "Verification Pricing",
        "description": "Clients can call this endpoint to check the verification price of a specific service and option(s). The list of supported services (```serviceName```) can be found <a href=\"docs/api/v2#get-/api/pub/v2/services\" target=\"_top\">here</a>.\n\nNot all service and options are compatible with each other. This endpoint point will return a ```400 Bad Request``` for unsupported service and option combinations.",
        "operationId": "PriceCheckVerificationPublic",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerificationPriceCheckRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VerificationPriceCheckRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/VerificationPriceCheckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricingSnapshot"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/sales/{id}": {
      "get": {
        "tags": [
          "Sales"
        ],
        "summary": "Get Reservation Sale Details",
        "description": "Get the details on a reservation sale by ID.\n\nNote: This endpoint returns a paginated list of reservations and back ordered reservations (if applicable) associated with the provided sale ID, check\nthe <a href=\"docs/api/v2#overview\" target=\"_top\">Paginated List Responses</a> section of the overview page for more details\nif you are having problems.",
        "operationId": "GetReservationSaleExpandedPublic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the sale. If the sale ID does not exist, a 404 response will be returned.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationSaleExpanded"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/sales": {
      "get": {
        "tags": [
          "Sales"
        ],
        "summary": "List Reservation Sales",
        "description": "Get a <a href=\"docs/api/v2#overview\" target=\"_top\"><b>paginated</b></a> list of your reservation sales.\n\nNote: This endpoint returns a paginated result of the list, check\nthe <a href=\"docs/api/v2#overview\" target=\"_top\">Paginated List Responses</a> section of the overview page for more details\nif you are having problems.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData.ReservationSaleCompact"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/billing-cycles/{id}": {
      "get": {
        "tags": [
          "Billing Cycles"
        ],
        "summary": "Get Billing Cycle Details",
        "description": "Get the details of a billing cycle by ID. A billing cycle can have one or many renewable rentals.\nOnly renewable rentals are associated with a billing cycle.",
        "operationId": "GetBillingCyclePublic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the billing cycle. If the billing cycle ID does not exist, a 404 response will be returned.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingCycleExpanded"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Billing Cycles"
        ],
        "summary": "Updating a Billing Cycle",
        "description": "Update a billing cycle by ID.\n\nWhat you can currently update are:\n- ```nickname``` (Your custom string to identify the billing cycle)\n- ```remindersEnabled``` (Email reminders)\n\nNot providing an update option will leave it unchanged. For example, not providing ```remindersEnabled``` but having \n```\"nickname\": \"aNickname\"``` will only update the nickname.",
        "operationId": "UpdateBillingCyclePublic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the billing cycle.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingCycleUpdateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingCycleUpdateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BillingCycleUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/billing-cycles/{id}/invoices": {
      "get": {
        "tags": [
          "Billing Cycles"
        ],
        "summary": "Get Billing Cycle Invoices",
        "description": "Get a <a href=\"docs/api/v2#overview\" target=\"_top\"><b>paginated</b></a> invoice history of a billing cycle by it's ID.\n\nNote: This endpoint returns a paginated result of the list, check\nthe <a href=\"docs/api/v2#overview\" target=\"_top\">Paginated List Responses</a> section of the overview page for more details\nif you are having problems.",
        "operationId": "ListBillingCycleInvoicesPublic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the billing cycle.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData.BillingCycleRenewalInvoice"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/billing-cycles": {
      "get": {
        "tags": [
          "Billing Cycles"
        ],
        "summary": "List Billing Cycles",
        "description": "Returns a <a href=\"docs/api/v2#overview\" target=\"_top\"><b>paginated</b></a> list of your billing cycles. A billing cycle can have one or many renewable rentals. Only renewable rentals are associated with a billing cycle.\n\nNote: This endpoint returns a paginated result of the list, check\nthe <a href=\"docs/api/v2#overview\" target=\"_top\">Paginated List Responses</a> section of the overview page for more details\nif you are having problems.",
        "operationId": "ListBillingCyclesPublic",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData.BillingCycleCompact"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/billing-cycles/{id}/next-invoice": {
      "post": {
        "tags": [
          "Billing Cycles"
        ],
        "summary": "Preview Billing Cycle Invoice",
        "description": "Get an invoice <b>preview</b> for your next billing cycle by it's ID.",
        "operationId": "GenerateNextBillingCycleRenewableInvoicePublic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the billing cycle.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingCycleRenewalInvoicePreview"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/billing-cycles/{id}/renew": {
      "post": {
        "tags": [
          "Billing Cycles"
        ],
        "summary": "Renew Billing Cycle",
        "description": "Renew the active rentals on your billing cycle by it's ID.\n            \nThis will not renew overdue rentals. To renew overdue rentals, you must explicitly renew them using the\n<a href=\"docs/api/v2#post-/api/pub/v2/reservations/rental/renewable/-id-/renew\" target=\"_top\">Renew Overdue Rental</a> endpoint.",
        "operationId": "RenewBillingCyclePublic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the billing cycle.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingCycleRenewalInvoice"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/backorders/{id}": {
      "get": {
        "tags": [
          "Back Order Rental Reservations"
        ],
        "summary": "Get Back Order Reservation Detail",
        "description": "Get the details on a back order reservation by ID.\n\nBack order reservations are created if you have a parameter set when creating a new rental and there is no available stock. See <a href=\"docs/api/v2#post-/api/pub/v2/reservations/rental\" target=\"_top\">Create New Rental</a> for more info.",
        "operationId": "GetBackOrderReservationExpandedPublic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the back order reservation. If the reservation ID does not exist, a 404 response will be returned.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackOrderReservationExpanded"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/reservations/{id}": {
      "get": {
        "tags": [
          "Line Reservations"
        ],
        "summary": "Line Reservation Details",
        "description": "Get the details on a line reservation by ID.\n\nSuccessfully getting the details of the line reservation will require following the ```href``` link provided in the response.",
        "operationId": "GetLineReservationExpandedPublic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the line reservation. If the reservation ID does not exist, a 404 response will be returned.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of line reservation. If the type supplied does not match the reservation, a 404 response will be returned.",
            "schema": {
              "$ref": "#/components/schemas/ReservationType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/reservations/{id}/health": {
      "get": {
        "tags": [
          "Line Reservations"
        ],
        "summary": "Reservation Health Check",
        "description": "Gets the health of a reservation and its line number.",
        "operationId": "GetReservationLineHealthPublic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the line reservation. If the reservation ID does not exist or if the reservation is not 'active', a 404 response will be returned.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LineHealth"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/verifications": {
      "post": {
        "tags": [
          "New Verification"
        ],
        "summary": "Create Verification",
        "description": "Create/purchase a new verification. The ```serviceName``` is required, and the list of supported service names can be found at <a href=\"docs/api/v2#get-/api/pub/v2/services\" target=\"_top\">Service List</a>.\n            \nIf successful, a 201 response will be returned with the location of the newly created verification in the <b>http response 'location' header</b>.\nSome combinations of options are unavailable. Will return ```400 Bad Request``` if the request is invalid. To validate without the risk of using credits, use the <a href=\"docs/api/v2#post-/api/pub/v2/pricing/verifications\" target=\"_top\">verification pricing</a> endpoint.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewVerificationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NewVerificationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/NewVerificationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Verifications"
        ],
        "summary": "List Verifications",
        "description": "Retrieves a <a href=\"docs/api/v2#overview\" target=\"_top\"><b>paginated</b></a> list of current verifications.\n            \nNote: This endpoint returns a paginated result of the list, check\nthe <a href=\"docs/api/v2#overview\" target=\"_top\">Paginated List Responses</a> section of the overview page for more details\nif you are having problems.",
        "operationId": "ListVerificationsPublic",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData.VerificationCompact"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/verifications/{id}": {
      "get": {
        "tags": [
          "Verifications"
        ],
        "summary": "Verification Details",
        "description": "Retrieves the details of a verification. Also returns actions that can be performed on the verification, including the ability to <a href=\"docs/api/v2#post-/api/pub/v2/verifications/-id-/cancel\" target=\"_top\">cancel</a>, <a href=\"docs/api/v2#post-/api/pub/v2/verifications/-id-/report\" target=\"_top\">report</a>, <a href=\"docs/api/v2#post-/api/pub/v2/verifications/-id-/reactivate\" target=\"_top\">reactivate</a>, or <a href=\"docs/api/v2#post-/api/pub/v2/verifications/-id-/reuse\" target=\"_top\">reuse</a> the verification.",
        "operationId": "GetVerificationExpandedPublic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the verification.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationExpanded"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/verifications/{id}/cancel": {
      "post": {
        "tags": [
          "Verifications"
        ],
        "summary": "Cancel Verification",
        "description": "Call this to <b>attempt</b> to cancel a verification by ID.\n\nReturns ```400 Bad Request``` if the verification does not allow cancellation.",
        "operationId": "CancelVerificationPublic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/verifications/{id}/reactivate": {
      "post": {
        "tags": [
          "Verifications"
        ],
        "summary": "Reactivate Verification",
        "description": "Call this to <b>attempt</b> to reactivate a completed verification that can no longer be <a href=\"docs/api/v2#post-/api/pub/v2/verifications/-id-/reuse\" target=\"_top\">reused</a>.\nThis may not be possible due to a number of reasons - to check eligibility, use <a href=\"docs/api/v2#get-/api/pub/v2/verifications/-id-\" target=\"_top\">verification details</a>.\n\nIf successful, a 201 response will be returned with the location of the newly created verification ID in the <b>http response 'location' header</b>.\nIf the verification is not eligible for reactivation, a ```400 Bad Request``` will be returned with an error message.",
        "operationId": "ReactivateVerificationPublic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/verifications/{id}/report": {
      "post": {
        "tags": [
          "Verifications"
        ],
        "summary": "Report Verification",
        "description": "Call this to <b>attempt</b> to report a verification by ID for issues such as \"number already in use\", \"verification failed\", or \"code not received\".\n\nReturns ```400 Bad Request``` if the verification does not allow reporting.",
        "operationId": "ReportVerificationPublic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/verifications/{id}/reuse": {
      "post": {
        "tags": [
          "Verifications"
        ],
        "summary": "Reuse Verification",
        "description": "Call this to <b>attempt</b> to reuse a verification by ID.\nThis is usable only shortly after a verification has been completed successfully on this ID. To check eligibility, use <a href=\"docs/api/v2#get-/api/pub/v2/verifications/-id-\" target=\"_top\">verification details</a>.\n            \nIf successful, a 201 response will be returned with the location of the newly created verification ID in the <b>http response 'location' header</b>.\nIf the verification is not eligible for reuse, a ```400 Bad Request``` will be returned with an error message.",
        "operationId": "ReuseVerificationPublic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/reservations/rental": {
      "post": {
        "tags": [
          "New Rental"
        ],
        "summary": "Create New Rental",
        "description": "Create/purchase a new rental. The ```serviceName``` is required, and the list of supported service names can be found at <a href=\"docs/api/v2#get-/api/pub/v2/services\" target=\"_top\">Service List</a>. \n\nIf ```allowBackOrderReservations``` is ```true``` in the request body, a rental back order will be created if the requested rental is out of stock.\n            \nIf successful, a 201 response will be returned with the location of the sale in the <b>http response 'location' header</b>. This sale will have details on the outcome of the rental purchase.\nSome combinations of options are unavailable. Will return ```400 Bad Request``` if the request is invalid. To validate without the risk of using credits, use the <a href=\"docs/api/v2#post-/api/pub/v2/pricing/rentals\" target=\"_top\">rental pricing</a> endpoint.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewRentalRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NewRentalRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/NewRentalRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/reservations/rental/renewable/{id}": {
      "get": {
        "tags": [
          "Renewable Rentals"
        ],
        "summary": "Renewable Rental Details",
        "description": "Get the details of a renewable rental by ID. Also returns relevant links to the billing cycle, calls, SMS, and sale information as well as a refund action if applicable.",
        "operationId": "GetRenewableRentalPublic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the line reservation. If the reservation ID does not exist, a 404 response will be returned.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RenewableRentalExpanded"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Renewable Rentals"
        ],
        "summary": "Update a Renewable Rental",
        "description": "Update a renewable rental by ID.\n\nWhat you can currently update are:\n- ```userNotes``` (Notes)\n- ```includeForRenewal``` (Include/Exclude rental for renew)\n- ```markAllSmsRead``` (Mark SMS as read)\n\nNot providing an update option will leave it unchanged. For example, not providing\n```userNotes``` but having ```\"includeForRenewal\": true``` will only include the rental for renew.",
        "operationId": "UpdateRenewableRentalPublic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the rental.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenewableRentalUpdateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RenewableRentalUpdateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RenewableRentalUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/reservations/rental/renewable": {
      "get": {
        "tags": [
          "Renewable Rentals"
        ],
        "summary": "List Renewable Rentals",
        "description": "Returns a <a href=\"docs/api/v2#overview\" target=\"_top\"><b>paginated</b></a> list of your renewable rentals.\n\nOptional Parameters:\n- ```billingCycleId``` (Get renewable rentals under this billing cycle ID)\n\nTo create a new rental, see <a href=\"docs/api/v2#post-/api/pub/v2/reservations/rental\" target=\"_top\">Create New Rental</a>.\n\nNote: This endpoint returns a paginated result of the list, check\nthe <a href=\"docs/api/v2#overview\" target=\"_top\">Paginated List Responses</a> section of the overview page for more details\nif you are having problems.",
        "operationId": "ListRenewableLineRentalsPublic",
        "parameters": [
          {
            "name": "billingCycleId",
            "in": "query",
            "description": "ID of the billing cycle.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData.RenewableRentalCompact"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/reservations/rental/renewable/{id}/refund": {
      "post": {
        "tags": [
          "Renewable Rentals"
        ],
        "summary": "Refund Renewable Rental",
        "description": "Call this to <b>attempt</b> to refund a renewable rental by ID.\n\nThis could fail if the rental is not refundable or the refund period has passsed.\nWill return ```400 Bad Request``` if the request is invalid or refund is not possible.",
        "operationId": "RenewableSelfServiceRefundRentalPublic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the line reservation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/reservations/rental/renewable/{id}/renew": {
      "post": {
        "tags": [
          "Renewable Rentals"
        ],
        "summary": "Renew Overdue Rental",
        "description": "Renew an overdue rental by its ID. \n\nCalling this method will automatically include the rental for renewal and perform the renewal. Only overdue rentals may be renewed this way.",
        "operationId": "RenewOverdueRenewableRental",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the renewable rental.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/reservations/rental/nonrenewable/{id}": {
      "get": {
        "tags": [
          "Non-Renewable Rentals"
        ],
        "summary": "Non-Renewable Rental Details",
        "description": "Get the details of a non-renewable rental by ID. Also returns relevant links to the billing cycle, calls, SMS, and sale information as well as a refund action if applicable.",
        "operationId": "GetNonrenewableRentalPublic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the line reservation. If the reservation ID does not exist, a 404 response will be returned.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NonrenewableRentalExpanded"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Non-Renewable Rentals"
        ],
        "summary": "Update a Non-Renewable Rental",
        "description": "Update a non-renewable rental by ID.\n\nWhat you can currently update are:\n- ```userNotes``` (Notes)\n- ```markAllSmsRead``` (Mark SMS as read)",
        "operationId": "UpdateNonrenewableRentalPublic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the line reservation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NonrenewableRentalUpdateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NonrenewableRentalUpdateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/NonrenewableRentalUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/reservations/rental/nonrenewable": {
      "get": {
        "tags": [
          "Non-Renewable Rentals"
        ],
        "summary": "List Non-Renewable Rentals",
        "description": "Returns a <a href=\"docs/api/v2#overview\" target=\"_top\"><b>paginated</b></a> list of your non-renewable rentals.\n\nTo create a new rental, see <a href=\"docs/api/v2#post-/api/pub/v2/reservations/rental\" target=\"_top\">Create New Rental</a>.\n\nNote: This endpoint returns a paginated result of the list, check\nthe <a href=\"docs/api/v2#overview\" target=\"_top\">Paginated List Responses</a> section of the overview page for more details\nif you are having problems.",
        "operationId": "ListNonrenewableRentalsPublic",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData.NonrenewableRentalCompact"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/reservations/rentals/extensions": {
      "post": {
        "tags": [
          "Non-Renewable Rentals"
        ],
        "summary": "Extend a Non-Renewable rental",
        "description": "<span style=\"color:var(--red)\">\n  <p>Extensions are <b>NOT</b> refundable and cannot be undone.</p>\n</span>\n<p>\n  <b>Attempt</b> to extend the duration of a non-renewable rental by ID.</p>",
        "operationId": "ExtendNonrenewableRentalPublic",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RentalExtensionRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RentalExtensionRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RentalExtensionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/reservations/rental/nonrenewable/{id}/refund": {
      "post": {
        "tags": [
          "Non-Renewable Rentals"
        ],
        "summary": "Refund Non-Renewable Rental",
        "description": "Call this to <b>attempt</b> to refund a non-renewable rental by ID.\n\nThis could fail if the rental is not refundable or the refund period has passsed.\nWill return ```400 Bad Request``` if the request is invalid or refund is not possible.",
        "operationId": "NonrenewableSelfServiceRefundRentalPublic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the line reservation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/sms": {
      "get": {
        "tags": [
          "Sms"
        ],
        "summary": "List Sms",
        "description": "Returns a <a href=\"docs/api/v2#overview\" target=\"_top\"><b>paginated</b></a> list of your latest sms.\n\nOptional Parameters:\n- ```to``` (A phone number)\n- ```reservationId``` (The reservation's ID)\n- ```reservationType``` (The reservation's type)\n\nNote: This endpoint returns a paginated result of the list, check\nthe <a href=\"docs/api/v2#overview\" target=\"_top\">Paginated List Responses</a> section of the overview page for more details\nif you are having problems.",
        "operationId": "ListSmsPublic",
        "parameters": [
          {
            "name": "to",
            "in": "query",
            "description": "If provided, will filter results to only include sms sent to the specified number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reservationId",
            "in": "query",
            "description": "If provided, will filter results to only include sms associated with the specified reservation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reservationType",
            "in": "query",
            "description": "If provided, will filter results to only include sms associated with the specified reservation types.",
            "schema": {
              "$ref": "#/components/schemas/ReservationType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData.Sms"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/sms/reply": {
      "post": {
        "tags": [
          "Sms"
        ],
        "summary": "Reply to a Sms",
        "description": "<p>\n  <b>Attempt</b> to reply to a Sms by ID.</p>",
        "operationId": "ReplyToSmsPublic",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplySmsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplySmsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ReplySmsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/sms/send": {
      "post": {
        "tags": [
          "Sms"
        ],
        "summary": "Send a Sms",
        "description": "<p>\n  <b>Attempt</b> to send a Sms by reservation ID.</p>",
        "operationId": "SendSmsPublic",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSmsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSmsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SendSmsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/calls": {
      "get": {
        "tags": [
          "Calls And Voice - [ALPHA]"
        ],
        "summary": "List Calls",
        "description": "Call this endpoint to obtain a list of calls associated with your account.",
        "operationId": "ListCallsPublic",
        "parameters": [
          {
            "name": "to",
            "in": "query",
            "description": "If provided, will filter results to only include calls made to the specified number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reservationId",
            "in": "query",
            "description": "If provided, will filter results to only include calls associated with the specified reservation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reservationType",
            "in": "query",
            "description": "If provided, will filter results to only include calls associated with the specified reservation type.",
            "schema": {
              "$ref": "#/components/schemas/ReservationType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData.Call"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/calls/access-token": {
      "post": {
        "tags": [
          "Calls And Voice - [ALPHA]"
        ],
        "summary": "Create Call Access Token",
        "description": "Call this endpoint to create a call access token. This supports <b>incoming calls only</b>.\n\nCall sessions are established by:\n\n1. <a href=\"docs/api/v2#post-/api/pub/v2/verifications\" target=\"_top\">Creating a voice verification</a> and getting the corresponding ```reservation id```.\n2. Posting to this endpoint to obtain a short-lived Twilio access token associated with the ```reservation id```.\n3. Using the access token with <a href=\"https://www.twilio.com/docs/voice/sdks/javascript\" target=\"_blank\">Twilio's integration</a> to handle an incoming call.\n\n\n<span style=\"color:var(--red)\"><b>Warning:</b></span>\nThis is an <b>advanced</b> integration. \n<span style=\"color:var(--red)\"><b>No integration/implementation/debugging support will be provided for this endpoint.</b></span> \nIt is up to you to implement the appropriate provider's integration (connectivity, acceptance, termination, etc.) to successfully handle an incoming call.",
        "operationId": "SetupCallingContextPublic",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallSessionRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CallSessionRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CallSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallContext"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/wake-requests/{id}": {
      "get": {
        "tags": [
          "Wake Requests"
        ],
        "summary": "Get Wake Request",
        "description": "Get a wake request by ID.\n\nThe details of a wake request include:\n- ```isScheduled``` (Indicates if the wake request has been successfully created and enqueued.)\n- ```usageWindowStart``` (The datetime when you can start using the reservation.)\n- ```usageWindowEnd``` (The datetime when you will no longer be able to use the reservation.)\nRefer to the ```SCHEMA``` below for more details.\n\nTo create a wake request, see <a href=\"docs/api/v2#post-/api/pub/v2/wake-requests\" target=\"_top\">Create Wake Request</a>.",
        "operationId": "GetWakeRequestPublic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the wake request. If the wake request ID does not exist, a 404 response will be returned.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WakeResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/wake-requests": {
      "post": {
        "tags": [
          "Wake Requests"
        ],
        "summary": "Create Wake Request",
        "description": "Create a wake request for a reservation. Some reservation types, including lines where alwaysOn=false, will require a wake request before the line reservation can be used.\n\nCreating a successful wake request will <b>enqueue</b> your request on that line reservation.\nTo see the details of your wake request, see <a href=\"docs/api/v2#get-/api/pub/v2/wake-requests/-id-\" target=\"_top\">Get Wake Request</a>.\n\nIf successful, a 201 response will be returned with the location of the newly created wake request in the <b>http response 'location' header</b>.",
        "operationId": "CreateWakeRequestPublic",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WakeRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WakeRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WakeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/wake-requests/estimate": {
      "post": {
        "tags": [
          "Wake Requests"
        ],
        "summary": "Estimate Usage Window",
        "description": "Estimate the usage window for a reservation if you were to create a wake request now.\n\nDoes <b>NOT</b> create a wake request. \nTo create a wake request, see <a href=\"docs/api/v2#post-/api/pub/v2/wake-requests\" target=\"_top\">Create Wake Request</a>.\n    \nThe details of an usage window estimate include:\n- ```estimatedWindowStart``` (The estimated datetime when you can start using the reservation.)\n- ```estimatedWindowEnd``` (The estimated datetime when you will no longer be able to use the reservation.)\nRefer to the ```SCHEMA``` below for more details.",
        "operationId": "EstimateUsageWindow",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UsageWindowEstimateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UsageWindowEstimateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UsageWindowEstimateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageWindowEstimateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/webhook-events": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List Webhook Events",
        "description": "Returns a list of webhook events that can be subscribed to. You will need to configure your <a href=\"https://www.textverified.com/app/api/configure/webhooks\">API Webhook Settings</a> and subscribe to events first.\n\n\n\nThe schema of the webhook events are documented below. We serialize webhook event data using Json to the `Data` property. All of our webhooks are sent as a HTTP POST to the webhook uri configured on your account.\nWe sign all of our webhooks with HMAC and SHA512 which should be validated by your server.\n\n\n<b>Webhook validation:</b>\n\nWe sign all webhook requests using HMAC-SHA512 and your webhook secret (`whsec_...`).\nThe signature HTTP Header is `X-Webhook-Signature` and the HTTP Value will be\nprefixed by the signing algorithm `HMAC-SHA512='.\nThe signature after the prefix is BASE-64 encoded.\nThe process for validating a signature is as follows:\n1) Extract the HTTP Header with the name `X-Webhook-Signature`.\n2) Remove the prefix `HMAC-SHA512=` from the HTTP Header value, which is obtained from step 1.\n  - This BASE-64 encoded value will be compared to the HTTP Request body hash later.\n3) Apply the HMAC-SHA512 hashing algorithm to the HTTP Request body to obtain a byte array.\n4) Apply BASE-64 encoding to the byte array (obtained from step 3).\n5) Compare the value from step 2 to the value from step 4 and verify that they are the same.\n            \nWebhooks are automatically retried for a period of time with exponential back off. \nAfter multiple failed webhook send attempts, webhooks will be automatically disabled.\nIf this happens, you will have to manually re-enable your webhooks again.",
        "operationId": "GetWebhookEventDefinitionsPublic",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "callbacks": {
          "v2.rental.billingcycle.renewed": {
            "https://your.webhook-server.url/": {
              "post": {
                "requestBody": {
                  "description": "Triggers when a billing cycle on your account has renewed. Renewal of individual reservations on a billing cycle can occur independently.",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookEvent.BillingCycleWebhookEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Your server implementation should return this HTTP status code if the data was received successfully."
                  },
                  "4XX": {
                    "description": "If your server returns an HTTP status code indicating it does not understand the format of the payload, then the delivery attempt will be treated as a failure."
                  },
                  "5XX": {
                    "description": "If your server returns an HTTP status code indicating a server-side error, then the delivery attempt will be treated as a failure."
                  }
                }
              }
            }
          },
          "v2.rental.billingcycle.expired": {
            "https://your.webhook-server.url/": {
              "post": {
                "requestBody": {
                  "description": "Triggers when a billing cycle on your account has expired.",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookEvent.BillingCycleWebhookEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Your server implementation should return this HTTP status code if the data was received successfully."
                  },
                  "4XX": {
                    "description": "If your server returns an HTTP status code indicating it does not understand the format of the payload, then the delivery attempt will be treated as a failure."
                  },
                  "5XX": {
                    "description": "If your server returns an HTTP status code indicating a server-side error, then the delivery attempt will be treated as a failure."
                  }
                }
              }
            }
          },
          "v2.sms.received": {
            "https://your.webhook-server.url/": {
              "post": {
                "requestBody": {
                  "description": "Triggers when an sms is received and assigned to your account.",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookEvent.SmsWebhookEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Your server implementation should return this HTTP status code if the data was received successfully."
                  },
                  "4XX": {
                    "description": "If your server returns an HTTP status code indicating it does not understand the format of the payload, then the delivery attempt will be treated as a failure."
                  },
                  "5XX": {
                    "description": "If your server returns an HTTP status code indicating a server-side error, then the delivery attempt will be treated as a failure."
                  }
                }
              }
            }
          },
          "v2.rental.backorder.fulfilled": {
            "https://your.webhook-server.url/": {
              "post": {
                "requestBody": {
                  "description": "Triggers when a back order reservation is fulfilled.",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookEvent.BackOrderReservationWebhookEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Your server implementation should return this HTTP status code if the data was received successfully."
                  },
                  "4XX": {
                    "description": "If your server returns an HTTP status code indicating it does not understand the format of the payload, then the delivery attempt will be treated as a failure."
                  },
                  "5XX": {
                    "description": "If your server returns an HTTP status code indicating a server-side error, then the delivery attempt will be treated as a failure."
                  }
                }
              }
            }
          },
          "v2.reservation.created": {
            "https://your.webhook-server.url/": {
              "post": {
                "requestBody": {
                  "description": "Triggers when a reservation is created.",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/WebhookEvent.ReservationCreatedWebhookEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Your server implementation should return this HTTP status code if the data was received successfully."
                  },
                  "4XX": {
                    "description": "If your server returns an HTTP status code indicating it does not understand the format of the payload, then the delivery attempt will be treated as a failure."
                  },
                  "5XX": {
                    "description": "If your server returns an HTTP status code indicating a server-side error, then the delivery attempt will be treated as a failure."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    },
    "/api/pub/v2/legacy/reservation-id-lookup": {
      "get": {
        "tags": [
          "Legacy"
        ],
        "summary": "Legacy Reservation Id Look Up",
        "description": "You can use this legacy endpoint for looking up the 'new' ID of a rental reservation (begins with the prefix 'lr_') by supplying a legacy ID (GUID/UUID format). This may be helpful when migration from our deprecated endpoints to our current endpoints.\nThis endpoint will be removed in the future without notice.",
        "operationId": "GetNewReservationId",
        "parameters": [
          {
            "name": "oldReservationId",
            "in": "query",
            "description": "The legacy reservation Id to look up which is formatted as a GUID/UUID. If the legacy ID supplied is invalid or not found, a 404 Not Found response will be returned.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found"
          },
          "200": {
            "description": "New ID of a reservation (begins with the prefix 'lr_')",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": true,
        "security": [
          {
            "oauth2": [
              "STANDARD_USER_POLICY"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Account": {
        "required": [
          "username"
        ],
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "The username of the account holder.",
            "example": "john_doe@example.com"
          },
          "currentBalance": {
            "type": "number",
            "description": "The current balance of the account.",
            "format": "double",
            "example": 1234.56
          }
        },
        "additionalProperties": false
      },
      "AddOnSnapshot": {
        "required": [
          "addOnId",
          "alreadyRenewed",
          "description",
          "renewalCost"
        ],
        "type": "object",
        "properties": {
          "addOnId": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "renewalCost": {
            "type": "number",
            "format": "double"
          },
          "alreadyRenewed": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "AreaCode": {
        "required": [
          "areaCode",
          "state"
        ],
        "type": "object",
        "properties": {
          "areaCode": {
            "type": "string",
            "description": "Area code. Optionally supply this value when an ```areaCodeSelectOption``` is in the request body or parameter.",
            "example": "205"
          },
          "state": {
            "type": "string",
            "description": "The US state associated with the area code.",
            "example": "Alabama"
          }
        },
        "additionalProperties": false
      },
      "BackOrderReservationCompact": {
        "required": [
          "id",
          "link",
          "serviceName",
          "status"
        ],
        "type": "object",
        "properties": {
          "link": {
            "$ref": "#/components/schemas/Link"
          },
          "id": {
            "type": "string"
          },
          "serviceName": {
            "type": "string",
            "description": "Name of service",
            "example": "yahoo"
          },
          "status": {
            "$ref": "#/components/schemas/BackOrderState"
          }
        },
        "additionalProperties": false
      },
      "BackOrderReservationExpanded": {
        "required": [
          "id",
          "link",
          "reservation",
          "reservationId",
          "sale",
          "saleId",
          "serviceName",
          "status"
        ],
        "type": "object",
        "properties": {
          "link": {
            "$ref": "#/components/schemas/Link"
          },
          "id": {
            "type": "string"
          },
          "serviceName": {
            "type": "string"
          },
          "saleId": {
            "type": "string"
          },
          "sale": {
            "$ref": "#/components/schemas/Link"
          },
          "reservation": {
            "$ref": "#/components/schemas/Link"
          },
          "reservationId": {
            "type": "string",
            "description": "Will be null if a reservation has not been assigned yet.",
            "nullable": true
          },
          "status": {
            "$ref": "#/components/schemas/BackOrderState"
          }
        },
        "additionalProperties": false
      },
      "BackOrderReservationWebhookEvent": {
        "required": [
          "backOrderId"
        ],
        "type": "object",
        "properties": {
          "backOrderId": {
            "type": "string",
            "description": "Id of the back order reservation."
          }
        },
        "additionalProperties": false
      },
      "BackOrderState": {
        "enum": [
          "created",
          "fulfilled",
          "canceled"
        ],
        "type": "string"
      },
      "BearerToken": {
        "required": [
          "expiresAt",
          "expiresIn",
          "token"
        ],
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "Bearer token",
            "example": "eyJh..."
          },
          "expiresIn": {
            "type": "number",
            "description": "Seconds remaining until bearer token expires",
            "format": "double",
            "example": 899
          },
          "expiresAt": {
            "type": "string",
            "description": "Timestamp of when the token will expire",
            "format": "date-time",
            "example": "2020-06-15T00:41:35+00:00"
          }
        },
        "additionalProperties": false
      },
      "BillingCycleCompact": {
        "required": [
          "billingCycleEndsAt",
          "emailNotificationsEnabled",
          "id",
          "state"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Id of the billing cycle"
          },
          "billingCycleEndsAt": {
            "type": "string",
            "format": "date-time"
          },
          "emailNotificationsEnabled": {
            "type": "boolean"
          },
          "state": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "BillingCycleExpanded": {
        "required": [
          "billingCycleEndsAt",
          "emailNotificationsEnabled",
          "id",
          "invoices",
          "nextAutoRenewAttempt",
          "renewedThrough",
          "rentals",
          "state"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Id of the billing cycle"
          },
          "renewedThrough": {
            "type": "string",
            "format": "date-time"
          },
          "billingCycleEndsAt": {
            "type": "string",
            "format": "date-time"
          },
          "nextAutoRenewAttempt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "emailNotificationsEnabled": {
            "type": "boolean"
          },
          "state": {
            "type": "string"
          },
          "rentals": {
            "$ref": "#/components/schemas/Link"
          },
          "invoices": {
            "$ref": "#/components/schemas/Link"
          }
        },
        "additionalProperties": false
      },
      "BillingCycleQueryFilter": {
        "type": "object",
        "additionalProperties": false
      },
      "BillingCycleRenewalInvoice": {
        "required": [
          "createdAt",
          "excludedRentals",
          "id",
          "includedRentals",
          "isPaidFor",
          "totalCost"
        ],
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string"
          },
          "excludedRentals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RentalSnapshot"
            }
          },
          "includedRentals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RentalSnapshot"
            }
          },
          "isPaidFor": {
            "type": "boolean"
          },
          "totalCost": {
            "type": "number",
            "description": "Total amount cost of the invoice, in account credits.",
            "format": "double",
            "example": 11.9
          }
        },
        "additionalProperties": false
      },
      "BillingCycleRenewalInvoicePreview": {
        "required": [
          "billingCycleId",
          "renewalEstimate"
        ],
        "type": "object",
        "properties": {
          "billingCycleId": {
            "type": "string"
          },
          "renewalEstimate": {
            "$ref": "#/components/schemas/BillingCycleRenewalInvoice"
          }
        },
        "additionalProperties": false
      },
      "BillingCycleUpdateRequest": {
        "type": "object",
        "properties": {
          "remindersEnabled": {
            "type": "boolean",
            "nullable": true
          },
          "nickname": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Supplying a value of 'null' or not supplying a value for any nullable properties will cause the property to be ignored."
      },
      "BillingCycleWebhookEvent": {
        "required": [
          "billingCycleId"
        ],
        "type": "object",
        "properties": {
          "billingCycleId": {
            "type": "string",
            "description": "Id of the billing cycle."
          }
        },
        "additionalProperties": false
      },
      "Call": {
        "required": [
          "createdAt",
          "from",
          "id",
          "recordingUri",
          "to"
        ],
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "nullable": true
          },
          "to": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string"
          },
          "recordingUri": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CallContext": {
        "required": [
          "reservationId",
          "twilioContext"
        ],
        "type": "object",
        "properties": {
          "reservationId": {
            "type": "string",
            "description": "Id of the verification that this call context is associated with."
          },
          "twilioContext": {
            "$ref": "#/components/schemas/TwilioCallingContextDto"
          }
        },
        "additionalProperties": false
      },
      "CallSessionRequest": {
        "required": [
          "reservationId"
        ],
        "type": "object",
        "properties": {
          "reservationId": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "CancelAction": {
        "required": [
          "canCancel",
          "link"
        ],
        "type": "object",
        "properties": {
          "canCancel": {
            "type": "boolean"
          },
          "link": {
            "$ref": "#/components/schemas/Link"
          }
        },
        "additionalProperties": false
      },
      "Error": {
        "required": [
          "errorCode",
          "errorDescription"
        ],
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string",
            "nullable": true
          },
          "errorDescription": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "KeysetPaginationDirectionality": {
        "enum": [
          "forward",
          "reverse"
        ],
        "type": "string"
      },
      "LineHealth": {
        "required": [
          "checkedAt",
          "lineNumber"
        ],
        "type": "object",
        "properties": {
          "lineNumber": {
            "type": "string",
            "description": "Line number associated with the reservation.",
            "example": "2223334444"
          },
          "checkedAt": {
            "type": "string",
            "description": "Timestamp of when this line was last checked at.",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "LineReservationType": {
        "enum": [
          "verification",
          "rental"
        ],
        "type": "string"
      },
      "Link": {
        "required": [
          "href",
          "method"
        ],
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "description": "The HTTP method for this link.",
            "nullable": true,
            "example": "GET|POST"
          },
          "href": {
            "type": "string",
            "description": "The HTTP location of the resource.",
            "nullable": true,
            "example": "https://...."
          }
        },
        "additionalProperties": false
      },
      "NewRentalRequest": {
        "required": [
          "allowBackOrderReservations",
          "alwaysOn",
          "capability",
          "duration",
          "isRenewable",
          "numberType",
          "serviceName"
        ],
        "type": "object",
        "properties": {
          "allowBackOrderReservations": {
            "type": "boolean",
            "description": "If set to true, a rental back order will be created if the requested rental is out of stock"
          },
          "alwaysOn": {
            "type": "boolean",
            "description": "If set to true, a line that does not require wake up will be assigned if in stock"
          },
          "areaCodeSelectOption": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Optional array of area codes",
            "nullable": true,
            "example": [
              "222",
              "333"
            ]
          },
          "duration": {
            "$ref": "#/components/schemas/RentalDuration"
          },
          "isRenewable": {
            "type": "boolean"
          },
          "numberType": {
            "$ref": "#/components/schemas/NumberType"
          },
          "billingCycleIdToAssignTo": {
            "type": "string",
            "description": "Optional billing cycle to which the rental is assigned. If left empty, a new billing cycle will be created for the rental. Only renewable rentals can be assigned to a billing cycle.",
            "nullable": true
          },
          "serviceName": {
            "type": "string",
            "description": "Name of the service",
            "example": "google"
          },
          "capability": {
            "$ref": "#/components/schemas/ReservationCapability"
          }
        },
        "additionalProperties": false
      },
      "NewVerificationRequest": {
        "required": [
          "capability",
          "serviceName"
        ],
        "type": "object",
        "properties": {
          "areaCodeSelectOption": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Clients can specify a area code when creating a reservation. If provided, our service will try to reserve a number with the specified area code.",
            "nullable": true,
            "example": [
              "775",
              "301"
            ]
          },
          "carrierSelectOption": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Clients can specify a carrier when creating a reservation. If provided, our service will try to reserve a number with the specified Carrier.",
            "nullable": true,
            "example": [
              "vz",
              "tmo",
              "att"
            ]
          },
          "serviceName": {
            "type": "string",
            "description": "",
            "example": "abra"
          },
          "capability": {
            "$ref": "#/components/schemas/ReservationCapability"
          },
          "serviceNotListedName": {
[...]
