# Supabase CLI Configuration
project_id = "default"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323
api_url = "http://supabasekong-h888cc0ck4w4o0kgw4kg84ks.46.202.171.108.sslip.io"

[edge_runtime]
enabled = true
port = 54324

[functions]
enabled = true
